PORT=5000
DATABASE_URL="postgresql://postgres:2343@localhost:5432/jobtrackr?schema=public"
JWT_SECRET="your_jwt_super_secret_key"
SESSION_SECRET="your_session_secret"

# Google Auth
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"

# Client URL for CORS
CLIENT_URL="http://localhost:5173"
FRONTEND_URL="http://localhost:5173"

# Email Configuration
MAIL_HOST= sandbox.smtp.mailtrap.io
MAIL_PORT= 587
MAIL_USER= username
MAIL_PASS= password
MAIL_FROM= noreply@js.com
