node_modules/
# Keep environment variables out of version control
.env
/generated/prisma

# Logs
*.log
*.stackdump

# Dependency directories
jspm_packages/

# Optional files
.DS_Store
Thumbs.db

# Editor and IDE temp files
.*.swp
*.pyc
*~
*.tmp
/tmp

# Environment specific files
.idea
.vscode